body {
    background-color:white;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: gainsboro;
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

#beaconimg {
    border: 10px solid blueviolet;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.navbar-nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
/* #mp {
    font-size: 20px; ??? */
}

#texts {
    width: 63%;
    margin-left: auto;
    margin-right: auto;
}

/* .navbar-brand {float:none;} */