body {
    background-color:white;
}

div table {
    table-layout: fixed;
    /* width: 100%; */
    border-collapse: collapse;
    /* border: 3px solid purple; */
    margin-left: auto;
    margin-right: auto;
}

.left {
    text-align: left;
    width: 200px;
    /* color: rgb(26, 68, 239); */
    font-family: sans-serif;
}

.right {
    font-family: sans-serif;
    font-weight: lighter;
}

td {
    max-width: 780px;
    overflow-wrap: break-word;
}

#header {
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}
body > p {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
}

button {
    border: none;
    padding: 14px 32px;
    font-size: 16px;
    margin: 2px;
    border-radius: 23px;
}

#message {
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

input {
    height: 36px;
    width: 90px;
    border-radius: 23px;
    resize: horizontal;
    text-align: center;
}

#header-nav {
    color: blue;
}

#streaming {
    margin-left: 65%;
}

.panel-footer {
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: gainsboro;
    border-top: 0;
}

.panel-footer div.row {
    margin-bottom: 35px;
}

.navbar-brand {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

.navbar-nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

/* .navbar-brand {
    margin-left: 35%;
    font-size: 30px;
} */